/CIUP.class
/Etudiant.class
/FactoryCIUP.class
/Maison.class
/MaisonInternationale.class
/MenuRestoUParCategorie.class
/Nationnalite.class
/Plat.class
/Plat$AfficherLogo.class
/Plat$Etiquette.class
/Allergene.class
/Etiquette.class
/RestoU.class
