/AllergeneTest.class
/CIUPTest.class
/EtiquetteTest.class
/EtudiantTest.class
/FactoryTest.class
/MaisonInternationaleTest.class
/MaisonTest.class
/MenuRestoUTest.class
/NationnaliteTest.class
/PlatTest.class
/RestoUTest.class
